In [1]:
# Check if sqlalchemy is already installed
# !pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/vjuliana/opt/anaconda3/lib/python3.8/site-packages (1.3.20)

In [2]:
# Import dependencies
from flask import Flask, render_template, redirect
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine, func
from sqlalchemy.orm import Session

Connecting to PostgreSQL DB and read data in pandas

In [4]:
# Connect to PostgreSQL database

# for everyone else
rds_connection_string = "postgres:postgres@localhost:5432/whatdoyoumean_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

# Diane's use only
# rds_connection_string = "postgres:309Malanday!@localhost:5432/events_db"
# engine = create_engine(f'postgresql://{rds_connection_string}')

In [5]:
# Run code to check connection is established and data is reading out from postgres database
wmhdata = pd.read_sql_table('whatdoyoumean_table', engine) 
wmhdata

,Entity,Year,A_below_5yo,D_below_5yo,A_above_5yo,D_above_5yo,A_above_14yo,D_above_14yo,A_above_49yo,D_above_49yo,A_above_69yo,D_above_69yo,latitude,longitude
0,Afghanistan,2021,11.119785,0.275587,289.238583,165.066037,588.065037,882.819554,489.318709,1004.245872,353.432429,782.107595,33.513199,65.664803
1,Albania,2021,8.519635,0.194262,225.356968,88.276859,376.367705,395.146164,385.415179,551.287825,327.802604,655.249068,42.651242,-73.755418
2,Algeria,2021,11.318114,0.279324,279.091150,152.728097,616.019195,793.720945,481.222364,872.687866,354.626848,715.375456,36.775348,3.060066
3,American Samoa,2021,9.241162,0.200379,238.598004,106.835378,355.204127,482.738576,400.007927,714.757845,360.762687,705.653478,-14.293662,-170.698357
4,Andorra,2021,19.783214,0.340381,423.794172,173.031069,574.779072,768.371717,517.158177,741.623664,393.133146,711.605536,42.545250,1.576297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Wales,2021,17.077502,0.342812,372.027201,188.433933,510.591378,855.269835,457.779501,788.198319,354.536046,697.506436,52.292812,-3.738930
197,Western Europe,2021,18.947513,0.309074,438.091657,173.384505,607.044690,803.678681,558.724980,804.917684,428.861910,760.215540,-6.181610,106.706720
198,Yemen,2021,10.934672,0.280212,283.941426,163.306041,600.921418,905.840506,478.857837,986.980330,357.716872,769.525152,14.674200,45.585800
199,Zambia,2021,9.386978,0.229947,238.966593,137.099732,434.784591,649.941337,381.216731,1132.202067,314.587644,1312.748514,-13.115900,27.446899
200,Zimbabwe,2021,8.757299,0.211329,218.339936,99.222604,369.886265,537.845205,307.956730,931.876550,240.959516,1198.462249,-19.447100,29.815201