In [1]:
# Check if sqlalchemy is already installed
# !pip install sqlalchemy

In [2]:
# Import dependencies
from flask import Flask, render_template, redirect
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine, func
from sqlalchemy.orm import Session
import json

Connecting to PostgreSQL DB and read data in pandas

In [3]:
# Connect to PostgreSQL database

# for everyone else
rds_connection_string = "postgres:postgres@localhost:5432/whatdoyoumean_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

# Diane's use only
# rds_connection_string = "postgres:309Malanday!@localhost:5432/events_db"
# engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
# Run code to check connection is established and data is reading out from postgres database
wmhdata = pd.read_sql_table('whatdoyoumean_table', engine) 
wmhdata

,Entity,Year,A_below_5yo,D_below_5yo,A_above_5yo,D_above_5yo,A_above_14yo,D_above_14yo,A_above_49yo,D_above_49yo,A_above_69yo,D_above_69yo,latitude,longitude
0,Afghanistan,2021,11.119785,0.275587,289.238583,165.066037,588.065037,882.819554,489.318709,1004.245872,353.432429,782.107595,33.513199,65.664803
1,Albania,2021,8.519635,0.194262,225.356968,88.276859,376.367705,395.146164,385.415179,551.287825,327.802604,655.249068,42.651242,-73.755418
2,Algeria,2021,11.318114,0.279324,279.091150,152.728097,616.019195,793.720945,481.222364,872.687866,354.626848,715.375456,36.775348,3.060066
3,American Samoa,2021,9.241162,0.200379,238.598004,106.835378,355.204127,482.738576,400.007927,714.757845,360.762687,705.653478,-14.293662,-170.698357
4,Andorra,2021,19.783214,0.340381,423.794172,173.031069,574.779072,768.371717,517.158177,741.623664,393.133146,711.605536,42.545250,1.576297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Wales,2021,17.077502,0.342812,372.027201,188.433933,510.591378,855.269835,457.779501,788.198319,354.536046,697.506436,52.292812,-3.738930
197,Western Europe,2021,18.947513,0.309074,438.091657,173.384505,607.044690,803.678681,558.724980,804.917684,428.861910,760.215540,-6.181610,106.706720
198,Yemen,2021,10.934672,0.280212,283.941426,163.306041,600.921418,905.840506,478.857837,986.980330,357.716872,769.525152,14.674200,45.585800
199,Zambia,2021,9.386978,0.229947,238.966593,137.099732,434.784591,649.941337,381.216731,1132.202067,314.587644,1312.748514,-13.115900,27.446899
200,Zimbabwe,2021,8.757299,0.211329,218.339936,99.222604,369.886265,537.845205,307.956730,931.876550,240.959516,1198.462249,-19.447100,29.815201

In [5]:
wmhdata.columns.value_counts().sum()

14

Transform pandas dataframe to json format

In [6]:
# Assign json to variable. Use format orient = "records"

wmhdata_result = json.loads(json.dumps(json.loads(wmhdata.to_json(orient = "records")), indent=4)) 

wmhdata_result

# return jsonify(wmhdata_result)

_above_69yo': 338.5974530696,
  'D_above_69yo': 707.1978282651,
  'latitude': 24.639299,
  'longitude': 46.686401},
 {'Entity': 'Scotland',
  'Year': 2021,
  'A_below_5yo': 17.0368376218,
  'D_below_5yo': 0.334274845,
  'A_above_5yo': 371.2852802329,
  'D_above_5yo': 180.5739366095,
  'A_above_14yo': 507.6449304777,
  'D_above_14yo': 910.538615205,
  'A_above_49yo': 451.3515598471,
  'D_above_49yo': 802.2125899056,
  'A_above_69yo': 350.6236816395,
  'D_above_69yo': 678.9546739367,
  'latitude': 56.786111,
  'longitude': -4.114052},
 {'Entity': 'Senegal',
  'Year': 2021,
  'A_below_5yo': 8.9629721635,
  'D_below_5yo': 0.2222733586,
  'A_above_5yo': 218.8776158945,
  'D_above_5yo': 105.0176922883,
  'A_above_14yo': 347.4045755115,
  'D_above_14yo': 586.2553578081,
  'A_above_49yo': 290.6279946829,
  'D_above_49yo': 1040.6202649581,
  'A_above_69yo': 231.3384981328,
  'D_above_69yo': 1206.5418697432,
  'latitude': 15.2533,
  'longitude': -14.1605},
 {'Entity': 'Serbia',
  'Year': 2021,
  'A_below_5yo': 9.0884655411,
  'D_below_5yo': 0.2027442863,
  'A_above_5yo': 221.2688563111,
  'D_above_5yo': 84.5194483391,
  'A_above_14yo': 376.3405791498,
  'D_above_14yo': 452.6730548091,
  'A_above_49yo': 382.1603545807,
  'D_above_49yo': 723.5534420627,
  'A_above_69yo': 325.1592336741,
  'D_above_69yo': 881.8023415084,
  'latitude': 43.871162,
  'longitude': 20.603973},
 {'Entity': 'Seychelles',
  'Year': 2021,
  'A_below_5yo': 8.3404576033,
  'D_below_5yo': 0.20029008,
  'A_above_5yo': 200.4178003412,
  'D_above_5yo': 102.7346387226,
  'A_above_14yo': 356.9373990624,
  'D_above_14yo': 461.2442198472,
  'A_above_49yo': 417.525925385,
  'D_above_49yo': 722.7782102947,
  'A_above_69yo': 371.5251323787,
  'D_above_69yo': 720.5381288443,
  'latitude': -4.5833,
  'longitude': 55.666698},
 {'Entity': 'Sierra Leone',
  'Year': 2021,
  'A_below_5yo': 8.7971195834,
  'D_below_5yo': 0.2286035543,
  'A_above_5yo': 223.1820591334,
  'D_above_5yo': 120.6054045451,
  'A_above_14yo': 348.2942691221,
  'D_above_14yo': 645.9449933122,
  'A_above_49yo': 284.2992995046,
  'D_above_49yo': 1068.6025636377,
  'A_above_69yo': 230.8445780829,
  'D_above_69yo': 1267.1630142071,
  'latitude': 8.3199,
  'longitude': -11.2615},
 {'Entity': 'Singapore',
  'Year': 2021,
  'A_below_5yo': 12.0432845525,
  'D_below_5yo': 0.23804793,
  'A_above_5yo': 282.6258959857,
  'D_above_5yo': 140.7648813489,
  'A_above_14yo': 403.8614292991,
  'D_above_14yo': 677.6291988964,
  'A_above_49yo': 345.6775347305,
  'D_above_49yo': 640.7205697778,
  'A_above_69yo': 260.3201423097,
  'D_above_69yo': 718.5918818293,
  'latitude': 1.290453,
  'longitude': 103.852038},
 {'Entity': 'Slovakia',
  'Year': 2021,
  'A_below_5yo': 9.1617134941,
  'D_below_5yo': 0.1992791112,
  'A_above_5yo': 211.100336791,
  'D_above_5yo': 74.5860231846,
  'A_above_14yo': 376.2236425427,
  'D_above_14yo': 429.4734455183,
  'A_above_49yo': 382.7994466944,
  'D_above_49yo': 627.0616050354,
  'A_above_69yo': 340.1529653144,
  'D_above_69yo': 728.3289513144,
  'latitude': 48.708149,
  'longitude': 19.493172},
 {'Entity': 'Slovenia',
  'Year': 2021,
  'A_below_5yo': 9.1515624872,
  'D_below_5yo': 0.2106780021,
  'A_above_5yo': 209.5940793247,
  'D_above_5yo': 82.6370418406,
  'A_above_14yo': 373.7512373395,
  'D_above_14yo': 498.4868066546,
  'A_above_49yo': 378.6437458732,
  'D_above_49yo': 801.5513490419,
  'A_above_69yo': 324.3525595253,
  'D_above_69yo': 929.1023480287,
  'latitude': 46.120007,
  'longitude': 14.82387},
 {'Entity': 'Solomon Islands',
  'Year': 2021,
  'A_below_5yo': 9.2696232821,
  'D_below_5yo': 0.1996110234,
  'A_above_5yo': 223.1503266599,
  'D_above_5yo': 97.7907127261,
  'A_above_14yo': 351.4573272311,
  'D_above_14yo': 560.3620708922,
  'A_above_49yo': 392.4980013377,
  'D_above_49yo': 795.1142083091,
  'A_above_69yo': 360.188680028,
  'D_above_69yo': 779.91494107,
  'latitude': -9.6438,
  'longitude': 159.974106},
 {'Entity': 'Somalia',
  'Year': 2021,
  'A_below_5yo': 9.2239015099,
  'D_below_5yo': 0.2377940602,
  'A_above_5yo': 240.1040703798,
  'D_above_5yo': 159.2269132575,
  'A_above_14yo': 427.4956448115,
  'D_above_14yo': 683.9911613535,
  'A_above_49yo': 373.7030041004,
  'D_above_49yo': 1188.393347079,
  'A_above_69yo': 309.8450508686,
  'D_above_69yo': 1350.7358842082,
  'latitude': 4.9884,
  'longitude': 46.470299},
 {'Entity': 'South Africa',
  'Year': 2021,
  'A_below_5yo': 10.4169021891,
  'D_below_5yo': 0.1989814484,
  'A_above_5yo': 258.0225741235,
  'D_above_5yo': 106.7634786038,
  'A_above_14yo': 460.4644953587,
  'D_above_14yo': 757.6394679408,
  'A_above_49yo': 414.8947128426,
  'D_above_49yo': 968.629927441,
  'A_above_69yo': 328.292490363,
  'D_above_69yo': 1150.1478263613,
  'latitude': -28.741699,
  'longitude': 24.759501},
 {'Entity': 'South Korea',
  'Year': 2021,
  'A_below_5yo': 12.6467984999,
  'D_below_5yo': 0.220007653,
  'A_above_5yo': 287.2427725997,
  'D_above_5yo': 114.233077927,
  'A_above_14yo': 418.4191413403,
  'D_above_14yo': 707.067242409,
  'A_above_49yo': 369.0964443463,
  'D_above_49yo': 663.3802737106,
  'A_above_69yo': 279.0059075727,
  'D_above_69yo': 716.2101920531,
  'latitude': 36.635601,
  'longitude': 127.500603},
 {'Entity': 'South Sudan',
  'Year': 2021,
  'A_below_5yo': 9.1777173954,
  'D_below_5yo': 0.2388707752,
  'A_above_5yo': 230.9849653841,
  'D_above_5yo': 148.6865558177,
  'A_above_14yo': 430.6224594069,
  'D_above_14yo': 678.4110941604,
  'A_above_49yo': 362.9462722839,
  'D_above_49yo': 1085.3067644283,
  'A_above_69yo': 275.1360479394,
  'D_above_69yo': 1244.4656274666,
  'latitude': 7.265386,
  'longitude': 30.05489},
 {'Entity': 'Spain',
  'Year': 2021,
  'A_below_5yo': 17.7815358383,
  'D_below_5yo': 0.3036561248,
  'A_above_5yo': 396.4613941727,
  'D_above_5yo': 172.5489406677,
  'A_above_14yo': 572.8620487297,
  'D_above_14yo': 751.5728546888,
  'A_above_49yo': 522.4718713761,
  'D_above_49yo': 735.6419027362,
  'A_above_69yo': 400.3517055527,
  'D_above_69yo': 730.2494574146,
  'latitude': 40.93,
  'longitude': -3.4},
 {'Entity': 'Sri Lanka',
  'Year': 2021,
  'A_below_5yo': 8.8218355347,
  'D_below_5yo': 0.1989276683,
  'A_above_5yo': 205.3143543358,
  'D_above_5yo': 103.0576326207,
  'A_above_14yo': 368.259504434,
  'D_above_14yo': 630.899379155,
  'A_above_49yo': 427.4214605509,
  'D_above_49yo': 831.472972654,
  'A_above_69yo': 377.5458386661,
  'D_above_69yo': 812.6145078822,
  'latitude': 7.3434,
  'longitude': 80.719398},
 {'Entity': 'Sudan',
  'Year': 2021,
  'A_below_5yo': 11.3016660083,
  'D_below_5yo': 0.2748169534,
  'A_above_5yo': 285.0501219053,
  'D_above_5yo': 152.7830504156,
  'A_above_14yo': 611.8164251389,
  'D_above_14yo': 835.5813695466,
  'A_above_49yo': 472.3374888746,
  'D_above_49yo': 909.0186133068,
  'A_above_69yo': 348.2820139305,
  'D_above_69yo': 715.6424455452,
  'latitude': 13.178,
  'longitude': 30.231001},
 {'Entity': 'Suriname',
  'Year': 2021,
  'A_below_5yo': 10.8902890674,
  'D_below_5yo': 0.2257035553,
  'A_above_5yo': 270.2438136187,
  'D_above_5yo': 148.0587073686,
  'A_above_14yo': 548.8345180405,
  'D_above_14yo': 886.2326645955,
  'A_above_49yo': 496.9379540751,
  'D_above_49yo': 1065.282176797,
  'A_above_69yo': 367.0957541725,
  'D_above_69yo': 995.23328379,
  'latitude': 4.131437,
  'longitude': -55.920311},
 {'Entity': 'Sweden',
  'Year': 2021,
  'A_below_5yo': 17.5597884537,
  'D_below_5yo': 0.2804885846,
  'A_above_5yo': 404.2567937008,
  'D_above_5yo': 160.6874282927,
  'A_above_14yo': 567.8437330857,
  'D_above_14yo': 980.1162288739,
  'A_above_49yo': 510.6820380685,
  'D_above_49yo': 940.6497126213,
  'A_above_69yo': 397.1422471033,
  'D_above_69yo': 826.036946026,
  'latitude': 62.835373,
  'longitude': 16.742456},
 {'Entity': 'Switzerland',
  'Year': 2021,
  'A_below_5yo': 17.9102484892,
  'D_below_5yo': 0.2868220181,
  'A_above_5yo': 413.1904901081,
  'D_above_5yo': 141.1422936146,
  'A_above_14yo': 565.7990721544,
  'D_above_14yo': 717.643692593,
  'A_above_49yo': 516.4644193665,
  'D_above_49yo': 754.6251385259,
  'A_above_69yo': 399.2146151608,
  'D_above_69yo': 702.8644301753,
  'latitude': 46.801807,
  'longitude': 8.235422},
 {'Entity': 'Syria',
  'Year': 2021,
  'A_below_5yo': 11.8286642267,
  'D_below_5yo': 0.2944217204,
  'A_above_5yo': 304.6638004497,
  'D_above_5yo': 180.3662223846,
  'A_above_14yo': 602.9996902125,
  'D_above_14yo': 783.8040447958,
  'A_above_49yo': 474.9788959328,
  'D_above_49yo': 856.0863945223,
  'A_above_69yo': 361.7985083757,
  'D_above_69yo': 708.0445693862,
  'latitude': 35.880001,
  'longitude': 38.364201},
 {'Entity': 'Taiwan',
  'Year': 2021,
  'A_below_5yo': 10.3091885958,
  'D_below_5yo': 0.1965973081,
  'A_above_5yo': 255.5088236625,
  'D_above_5yo': 78.5583047915,
  'A_above_14yo': 342.4869466831,
  'D_above_14yo': 466.462655376,
  'A_above_49yo': 425.3501734394,
  'D_above_49yo': 835.7236231965,
  'A_above_69yo': 405.2826459733,
  'D_above_69yo': 820.9646332103,
  'latitude': 23.534,
  'longitude': 120.559402},
 {'Entity': 'Tajikistan',
  'Year': 2021,
  'A_below_5yo': 6.7787332653,
  'D_below_5yo': 0.2069455245,
  'A_above_5yo': 157.4709883161,
  'D_above_5yo': 86.3726507396,
  'A_above_14yo': 284.5754211323,
  'D_above_14yo': 431.9725651579,
  'A_above_49yo': 292.0778845884,
  'D_above_49yo': 651.0949019702,
  'A_above_69yo': 237.7803574157,
  'D_above_69yo': 847.0100417997,
  'latitude': 38.431499,
  'longitude': 70.903503},
 {'Entity': 'Tanzania',
  'Year': 2021,
  'A_below_5yo': 9.350146543,
  'D_below_5yo': 0.242703988,
  'A_above_5yo': 237.0703230232,
  'D_above_5yo': 153.979714018,
  'A_above_14yo': 441.7859491491,
  'D_above_14yo': 662.2884730539,
  'A_above_49yo': 383.8670546698,
  'D_above_49yo': 1112.1011171131,
  'A_above_69yo': 307.4908222314,
  'D_above_69yo': 1356.2559410953,
  'latitude': -5.6088,
  'longitude': 34.5294},
 {'Entity': 'Thailand',
  'Year': 2021,
  'A_below_5yo': 8.5333334347,
  'D_below_5yo': 0.2060868492,
  'A_above_5yo': 207.023974621,
  'D_above_5yo': 109.4135530141,
  'A_above_14yo': 370.6120461445,
  'D_above_14yo': 510.9775311375,
  'A_above_49yo': 428.2092089253,
  'D_above_49yo': 842.2782039646,
  'A_above_69yo': 367.7103472595,
  'D_above_69yo': 822.2456560763,
  'latitude': 15.0086,
  'longitude': 100.955704},
 {'Entity': 'Timor',
  'Year': 2021,
  'A_below_5yo': 8.2114572666,
  'D_below_5yo': 0.2063623352,
  'A_above_5yo': 206.8481825273,
  'D_above_5yo': 127.3496818368,
  'A_above_14yo': 353.8991651246,
  'D_above_14yo': 529.5859160485,
  'A_above_49yo': 408.6351386233,
  'D_above_49yo': 821.6255733533,
  'A_above_69yo': 362.3007717639,
  'D_above_69yo': 810.940210046,
  'latitude': -36.98384,
  'longitude': 143.709137},
 {'Entity': 'Togo',
  'Year': 2021,
  'A_below_5yo': 8.8815119502,
  'D_below_5yo': 0.2295340173,
  'A_above_5yo': 219.5075122349,
  'D_above_5yo': 115.2330289347,
  'A_above_14yo': 348.3690744256,
  'D_above_14yo': 668.8646477778,
  'A_above_49yo': 295.8330229131,
  'D_above_49yo': 1112.3513399559,
  'A_above_69yo': 250.5300643024,
  'D_above_69yo': 1348.6875219046,
  'latitude': 8.148099,
  'longitude': 1.034999},
 {'Entity': 'Tonga',
  'Year': 2021,
  'A_below_5yo': 9.4746779799,
  'D_below_5yo': 0.2037043616,
  'A_above_5yo': 235.8121277769,
  'D_above_5yo': 103.213837754,
  'A_above_14yo': 353.391187732,
  'D_above_14yo': 481.6134754037,
  'A_above_49yo': 398.3552067224,
  'D_above_49yo': 707.9470352595,
  'A_above_69yo': 370.1449256416,
  'D_above_69yo': 725.5635349077,
  'latitude': -21.149,
  'longitude': -175.319595},
 {'Entity': 'Trinidad and Tobago',
  'Year': 2021,
  'A_below_5yo': 10.7441240203,
  'D_below_5yo': 0.225963612,
  'A_above_5yo': 267.6761207007,
  'D_above_5yo': 129.247551158,
  'A_above_14yo': 549.1992601434,
  'D_above_14yo': 702.2246836939,
  'A_above_49yo': 484.0810873499,
  'D_above_49yo': 837.9618602429,
  'A_above_69yo': 365.23734025,
  'D_above_69yo': 788.9039792645,
  'latitude': 10.418848,
  'longitude': -61.293797},
 {'Entity': 'Tunisia',
  'Year': 2021,
  'A_below_5yo': 11.6356758857,
  'D_below_5yo': 0.2874935467,
  'A_above_5yo': 288.6742328721,
  'D_above_5yo': 164.1943767391,
  'A_above_14yo': 620.6997668062,
  'D_above_14yo': 842.8730211199,
  'A_above_49yo': 484.1885653122,
  'D_above_49yo': 1010.5631657581,
  'A_above_69yo': 366.7856083746,
  'D_above_69yo': 901.7267221516,
  'latitude': 33.962601,
  'longitude': 9.5798},
 {'Entity': 'Turkey',
  'Year': 2021,
  'A_below_5yo': 9.253385296,
  'D_below_5yo': 0.2875610383,
  'A_above_5yo': 229.0083716748,
  'D_above_5yo': 172.7583487739,
  'A_above_14yo': 472.8915323401,
  'D_above_14yo': 761.6297769912,
  'A_above_49yo': 362.0761113161,
  'D_above_49yo': 863.7180811605,
  'A_above_69yo': 283.738083958,
  'D_above_69yo': 733.3167572096,
  'latitude': 38.989273,
  'longitude': 35.43446},
 {'Entity': 'Turkmenistan',
  'Year': 2021,
  'A_below_5yo': 6.92157731,
  'D_below_5yo': 0.2118321181,
  'A_above_5yo': 156.8255687687,
  'D_above_5yo': 87.1227868032,
  'A_above_14yo': 281.4559038224,
  'D_above_14yo': 484.2313963401,
  'A_above_49yo': 295.4450779418,
  'D_above_49yo': 703.8017314427,
  'A_above_69yo': 254.3481764767,
  'D_above_69yo': 962.0965005525,
  'latitude': 37.9426,
  'longitude': 58.384998},
 {'Entity': 'Uganda',
  'Year': 2021,
  'A_below_5yo': 9.0412330549,
  'D_below_5yo': 0.2733470132,
  'A_above_5yo': 229.7690185644,
  'D_above_5yo': 205.5870084748,
  'A_above_14yo': 426.2862802576,
  'D_above_14yo': 868.0517414754,
  'A_above_49yo': 377.9298778786,
  'D_above_49yo': 1513.9510169047,
  'A_above_69yo': 310.1322031874,
  'D_above_69yo': 1900.5154010597,
  'latitude': 1.4542,
  'longitude': 32.777599},
 {'Entity': 'Ukraine',
  'Year': 2021,
  'A_below_5yo': 7.7172334884,
  'D_below_5yo': 0.2071212726,
  'A_above_5yo': 175.0302359351,
  'D_above_5yo': 93.0182925612,
  'A_above_14yo': 323.5277939573,
  'D_above_14yo': 739.2954174816,
  'A_above_49yo': 317.4452324143,
  'D_above_49yo': 1069.9396016521,
  'A_above_69yo': 284.7348591382,
  'D_above_69yo': 1388.815636929,
  'latitude': 49.024101,
  'longitude': 31.400038},
 {'Entity': 'United Arab Emirates',
  'Year': 2021,
  'A_below_5yo': 11.9861757526,
  'D_below_5yo': 0.2777918155,
  'A_above_5yo': 253.7059217843,
  'D_above_5yo': 108.1664789218,
  'A_above_14yo': 496.7959165288,
  'D_above_14yo': 662.6264241851,
  'A_above_49yo': 397.811552578,
  'D_above_49yo': 664.0599698441,
  'A_above_69yo': 327.5034601616,
  'D_above_69yo': 571.4325648026,
  'latitude': 23.341,
  'longitude': 52.9063},
 {'Entity': 'United Kingdom',
  'Year': 2021,
  'A_below_5yo': 15.9607957294,
  'D_below_5yo': 0.2892540848,
  'A_above_5yo': 352.5219168415,
  'D_above_5yo': 156.9763053671,
  'A_above_14yo': 494.1529503917,
  'D_above_14yo': 862.025441634,
  'A_above_49yo': 436.9574375059,
  'D_above_49yo': 835.5872171348,
  'A_above_69yo': 335.8458833818,
  'D_above_69yo': 743.7608421985,
  'latitude': 54.0,
  'longitude': -2.0},
 {'Entity': 'United States',
  'Year': 2021,
  'A_below_5yo': 13.758487735,
  'D_below_5yo': 0.1814473361,
  'A_above_5yo': 341.8010120723,
  'D_above_5yo': 236.5763610916,
  'A_above_14yo': 764.9587981849,
  'D_above_14yo': 1082.0236502762,
  'A_above_49yo': 634.1614119828,
  'D_above_49yo': 792.0123165046,
  'A_above_69yo': 412.6838822558,
  'D_above_69yo': 502.8371598787,
  'latitude': 39.390897,
  'longitude': -99.066067},
 {'Entity': 'United States Virgin Islands',
  'Year': 2021,
  'A_below_5yo': 10.8720217183,
  'D_below_5yo': 0.22711577,
  'A_above_5yo': 276.7444891379,
  'D_above_5yo': 128.3093766956,
  'A_above_14yo': 560.3478636808,
  'D_above_14yo': 581.6270576371,
  'A_above_49yo': 491.717303354,
  'D_above_49yo': 770.8817377187,
  'A_above_69yo': 377.6039052627,
  'D_above_69yo': 752.305015785,
  'latitude': 18.060868,
  'longitude': -64.840836},
 {'Entity': 'Uruguay',
  'Year': 2021,
  'A_below_5yo': 16.9073879988,
  'D_below_5yo': 0.2219286903,
  'A_above_5yo': 415.108268294,
  'D_above_5yo': 134.5597147753,
  'A_above_14yo': 720.9166575599,
  'D_above_14yo': 758.7177251186,
  'A_above_49yo': 625.5812763951,
  'D_above_49yo': 712.4219214544,
  'A_above_69yo': 417.0750412795,
  'D_above_69yo': 603.6869196598,
  'latitude': -32.804592,
  'longitude': -56.028786},
 {'Entity': 'Uzbekistan',
  'Year': 2021,
  'A_below_5yo': 6.9170339757,
  'D_below_5yo': 0.2104985069,
  'A_above_5yo': 159.63500525,
  'D_above_5yo': 92.3835692792,
  'A_above_14yo': 285.3862684097,
  'D_above_14yo': 513.8671221928,
  'A_above_49yo': 293.4130492442,
  'D_above_49yo': 726.0477516503,
  'A_above_69yo': 260.2855630111,
  'D_above_69yo': 964.5921463761,
  'latitude': 42.036598,
  'longitude': 63.279099},
 {'Entity': 'Vanuatu',
  'Year': 2021,
  'A_below_5yo': 9.3117351076,
  'D_below_5yo': 0.2011761682,
  'A_above_5yo': 220.1585488036,
  'D_above_5yo': 95.093262739,
  'A_above_14yo': 350.6360699191,
  'D_above_14yo': 553.7064146663,
  'A_above_49yo': 389.3815292171,
  'D_above_49yo': 782.7829916967,
  'A_above_69yo': 353.5509199096,
  'D_above_69yo': 762.406019055,
  'latitude': -15.4351,
  'longitude': 166.792206},
 {'Entity': 'Venezuela',
  'Year': 2021,
  'A_below_5yo': 7.0097694952,
  'D_below_5yo': 0.2061800719,
  'A_above_5yo': 172.175395236,
  'D_above_5yo': 98.9057766651,
  'A_above_14yo': 347.365986916,
  'D_above_14yo': 568.9193356202,
  'A_above_49yo': 297.7109364186,
  'D_above_49yo': 788.1146436079,
  'A_above_69yo': 221.4120393274,
  'D_above_69yo': 796.3418853564,
  'latitude': 7.159467,
  'longitude': -66.245689},
 {'Entity': 'Vietnam',
  'Year': 2021,
  'A_below_5yo': 5.7590558603,
  'D_below_5yo': 0.2011476901,
  'A_above_5yo': 129.0295214748,
  'D_above_5yo': 93.6050331183,
  'A_above_14yo': 229.8436249134,
  'D_above_14yo': 453.0307097772,
  'A_above_49yo': 258.8707990012,
  'D_above_49yo': 751.3905597007,
  'A_above_69yo': 229.5119877139,
  'D_above_69yo': 759.3123247872,
  'latitude': 16.7603,
  'longitude': 106.656601},
 {'Entity': 'Wales',
  'Year': 2021,
  'A_below_5yo': 17.07750194,
  'D_below_5yo': 0.3428122001,
  'A_above_5yo': 372.0272011323,
  'D_above_5yo': 188.4339331122,
  'A_above_14yo': 510.5913776911,
  'D_above_14yo': 855.2698351848,
  'A_above_49yo': 457.779501372,
  'D_above_49yo': 788.1983188603,
  'A_above_69yo': 354.5360455797,
  'D_above_69yo': 697.5064364824,
  'latitude': 52.292812,
  'longitude': -3.73893},
 {'Entity': 'Western Europe',
  'Year': 2021,
  'A_below_5yo': 18.9475125238,
  'D_below_5yo': 0.309073858,
  'A_above_5yo': 438.0916568585,
  'D_above_5yo': 173.3845050371,
  'A_above_14yo': 607.0446900992,
  'D_above_14yo': 803.6786812748,
  'A_above_49yo': 558.7249797801,
  'D_above_49yo': 804.9176842333,
  'A_above_69yo': 428.8619095873,
  'D_above_69yo': 760.2155400476,
  'latitude': -6.18161,
  'longitude': 106.70672},
 {'Entity': 'Yemen',
  'Year': 2021,
  'A_below_5yo': 10.9346723295,
  'D_below_5yo': 0.2802120708,
  'A_above_5yo': 283.9414263399,
  'D_above_5yo': 163.3060411809,
  'A_above_14yo': 600.9214183739,
  'D_above_14yo': 905.840506329,
  'A_above_49yo': 478.8578366253,
  'D_above_49yo': 986.9803301331,
  'A_above_69yo': 357.7168721821,
  'D_above_69yo': 769.5251517732,
  'latitude': 14.6742,
  'longitude': 45.5858},
 {'Entity': 'Zambia',
  'Year': 2021,
  'A_below_5yo': 9.3869781979,
  'D_below_5yo': 0.2299467698,
  'A_above_5yo': 238.9665931465,
  'D_above_5yo': 137.0997321312,
  'A_above_14yo': 434.7845912899,
  'D_above_14yo': 649.9413366338,
  'A_above_49yo': 381.2167307162,
  'D_above_49yo': 1132.2020665025,
  'A_above_69yo': 314.5876440551,
  'D_above_69yo': 1312.7485137585,
  'latitude': -13.1159,
  'longitude': 27.446899},
 {'Entity': 'Zimbabwe',
  'Year': 2021,
  'A_below_5yo': 8.7572988444,
  'D_below_5yo': 0.2113288355,
  'A_above_5yo': 218.3399357292,
  'D_above_5yo': 99.2226037897,
  'A_above_14yo': 369.8862648597,
  'D_above_14yo': 537.8452052876,
  'A_above_49yo': 307.9567301286,
  'D_above_49yo': 931.8765498826,
  'A_above_69yo': 240.9595164783,
  'D_above_69yo': 1198.4622489347,
  'latitude': -19.4471,
  'longitude': 29.815201}]