In [1]:
# Dependencies
import csv
import os
import pandas as pd

In [3]:
countries_coords = pd.read_csv("Data/countries.csv")
countries_coords

                         Entity   latitude   longitude
0                   Afghanistan  33.513199   65.664803
1                       Albania  42.651242  -73.755418
2                       Algeria  36.775348    3.060066
3                American Samoa -14.293662 -170.698357
4          Andean Latin America  -6.185530  106.706880
..                          ...        ...         ...
226  Western Sub-Saharan Africa -33.966130   18.626440
227                       World  36.155330  -95.992080
228                       Yemen  14.674200   45.585800
229                      Zambia -13.115900   27.446899
230                    Zimbabwe -19.447100   29.815201

[231 rows x 3 columns]

In [4]:
non_countries = ["Andean Latin America", "Australasia", "Central African Republic", "Central Asia", "Central Europe", "Central Europe, Eastern Europe, and Central Asia", "Central Latin America", "Central Sub-Saharan Africa", "East Asia", "Eastern Europe", "Eastern Sub-Saharan Africa", "High SDI", "High-income", "High-income Asia Pacific", "High-middle SDI", "Low SDI", "Low-middle SDI", "Middle SDI", "North Africa and Middle East", "North America", "Oceania", "South Asia", "Southeast Asia", "Southeast Asia, East Asia, and Oceania", "Southern Latin America", "Southern Sub-Saharan Africa", "Sub-Saharan Africa", "Tropical Latin America", "Western Sub-Saharan Africa", "World"]

In [5]:
final_countries = countries_coords[~countries_coords.Entity.isin(non_countries)]
final_countries

             Entity   latitude   longitude
0       Afghanistan  33.513199   65.664803
1           Albania  42.651242  -73.755418
2           Algeria  36.775348    3.060066
3    American Samoa -14.293662 -170.698357
5           Andorra  42.545250    1.576297
..              ...        ...         ...
224           Wales  52.292812   -3.738930
225  Western Europe  -6.181610  106.706720
228           Yemen  14.674200   45.585800
229          Zambia -13.115900   27.446899
230        Zimbabwe -19.447100   29.815201

[201 rows x 3 columns]