In [1]:
# Dependencies
import csv
import os
import pandas as pd

In [2]:
# Study data files
anxiety_path = "static/data/daly-anxiety-age.csv"
depression_path = "static/data/daly-depression-age.csv"

In [3]:
# Read the data
anxiety_data = pd.read_csv(anxiety_path)
depression_data = pd.read_csv(depression_path)

In [4]:
anxiety_data.columns

Index(['Entity', 'Code', 'Year',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: Under 5 (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: All Ages (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 70+ years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 50-69 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 5-14 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 15-49 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: Age-standardized (Rate)'],
      dtype='object')

In [5]:
depression_data.columns

Index(['Entity', 'Code', 'Year',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: Under 5 (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 5-14 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 15-49 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 50-69 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 70+ years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: All Ages (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: Age-standardized (Rate)'],
      dtype='object')

In [6]:
anxiety_df = anxiety_data[["Entity", "Year", "DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: Under 5 (Rate)", "DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 5-14 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 15-49 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 50-69 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 70+ years (Rate)"]]
anxiety_df.columns = ["Entity", "Year", "<5", "5-14", "15-49", "50-69", "70+"]
anxiety_df

,Entity,Year,<5,5-14,15-49,50-69,70+
0,Afghanistan,1990,10.851451,290.799110,583.050750,453.736877,336.764668
1,Afghanistan,1991,10.758383,287.732096,582.755568,453.919631,336.346214
2,Afghanistan,1992,10.387921,284.531098,585.121129,456.690054,336.558722
3,Afghanistan,1993,10.289752,281.185300,585.995450,459.518593,336.870769
4,Afghanistan,1994,10.464435,278.113533,587.736708,459.959994,337.476586
...,...,...,...,...,...,...,...
6463,Zimbabwe,2013,8.612919,218.803990,366.898089,308.151268,240.396429
6464,Zimbabwe,2014,8.731586,218.915348,367.400269,307.741827,239.889862
6465,Zimbabwe,2015,8.646030,218.663565,367.898632,308.310431,240.390428
6466,Zimbabwe,2016,8.777977,218.323865,368.456731,308.376755,240.443753
6467,Zimbabwe,2017,8.773549,218.567461,369.090140,308.281666,240.719008

In [7]:
depression_df = depression_data[["Entity", "Year", "DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: Under 5 (Rate)", "DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 5-14 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 15-49 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 50-69 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 70+ years (Rate)"]]
depression_df.columns = ["Entity", "Year", "<5", "5-14", "15-49", "50-69", "70+"]
depression_df

,Entity,Year,<5,5-14,15-49,50-69,70+
0,Afghanistan,1990,0.271187,171.879841,875.280470,950.293471,766.893212
1,Afghanistan,1991,0.268624,166.950366,870.018856,950.792194,765.393867
2,Afghanistan,1992,0.260249,162.987003,859.514720,954.455355,762.681493
3,Afghanistan,1993,0.258343,159.584534,856.438776,957.746985,760.617836
4,Afghanistan,1994,0.263607,155.962684,861.397337,958.766015,759.161396
...,...,...,...,...,...,...,...
6463,Zimbabwe,2013,0.207890,99.998684,510.320566,896.809679,1175.721573
6464,Zimbabwe,2014,0.208552,100.062666,514.009756,901.387971,1179.094335
6465,Zimbabwe,2015,0.209203,99.655702,518.964077,905.877422,1183.005990
6466,Zimbabwe,2016,0.209759,99.808751,523.691812,911.817819,1185.139894
6467,Zimbabwe,2017,0.210091,99.256370,528.616947,917.890919,1189.683420

In [8]:
# Combine the data into a single dataset
mhdata_combined = anxiety_df.merge(depression_df, left_index=True, right_index=True)
mhdata_combined

,Entity_x,Year_x,<5_x,5-14_x,15-49_x,50-69_x,70+_x,Entity_y,Year_y,<5_y,5-14_y,15-49_y,50-69_y,70+_y
0,Afghanistan,1990,10.851451,290.799110,583.050750,453.736877,336.764668,Afghanistan,1990,0.271187,171.879841,875.280470,950.293471,766.893212
1,Afghanistan,1991,10.758383,287.732096,582.755568,453.919631,336.346214,Afghanistan,1991,0.268624,166.950366,870.018856,950.792194,765.393867
2,Afghanistan,1992,10.387921,284.531098,585.121129,456.690054,336.558722,Afghanistan,1992,0.260249,162.987003,859.514720,954.455355,762.681493
3,Afghanistan,1993,10.289752,281.185300,585.995450,459.518593,336.870769,Afghanistan,1993,0.258343,159.584534,856.438776,957.746985,760.617836
4,Afghanistan,1994,10.464435,278.113533,587.736708,459.959994,337.476586,Afghanistan,1994,0.263607,155.962684,861.397337,958.766015,759.161396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,2013,8.612919,218.803990,366.898089,308.151268,240.396429,Zimbabwe,2013,0.207890,99.998684,510.320566,896.809679,1175.721573
6464,Zimbabwe,2014,8.731586,218.915348,367.400269,307.741827,239.889862,Zimbabwe,2014,0.208552,100.062666,514.009756,901.387971,1179.094335
6465,Zimbabwe,2015,8.646030,218.663565,367.898632,308.310431,240.390428,Zimbabwe,2015,0.209203,99.655702,518.964077,905.877422,1183.005990
6466,Zimbabwe,2016,8.777977,218.323865,368.456731,308.376755,240.443753,Zimbabwe,2016,0.209759,99.808751,523.691812,911.817819,1185.139894
6467,Zimbabwe,2017,8.773549,218.567461,369.090140,308.281666,240.719008,Zimbabwe,2017,0.210091,99.256370,528.616947,917.890919,1189.683420

In [9]:
# Drop duplicate index columns, reoder and rename to display anxiety and depression side by side by age 
mhdata_combined_df = mhdata_combined[["Entity_x", "Year_x", "<5_x", "<5_y", "5-14_x", "5-14_y", "15-49_x", "15-49_y", "50-69_x", "50-69_y", "70+_x", "70+_y"]]
mhdata_combined_df.columns = ["Entity", "Year", "A_<5", "D_<5", "A_5-14", "D_5-14", "A_15-49", "D_15-49", "A_50-69", "D_50-69", "A_70+", "D_70+"]
mhdata_combined_df

,Entity,Year,A_<5,D_<5,A_5-14,D_5-14,A_15-49,D_15-49,A_50-69,D_50-69,A_70+,D_70+
0,Afghanistan,1990,10.851451,0.271187,290.799110,171.879841,583.050750,875.280470,453.736877,950.293471,336.764668,766.893212
1,Afghanistan,1991,10.758383,0.268624,287.732096,166.950366,582.755568,870.018856,453.919631,950.792194,336.346214,765.393867
2,Afghanistan,1992,10.387921,0.260249,284.531098,162.987003,585.121129,859.514720,456.690054,954.455355,336.558722,762.681493
3,Afghanistan,1993,10.289752,0.258343,281.185300,159.584534,585.995450,856.438776,459.518593,957.746985,336.870769,760.617836
4,Afghanistan,1994,10.464435,0.263607,278.113533,155.962684,587.736708,861.397337,459.959994,958.766015,337.476586,759.161396
...,...,...,...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,2013,8.612919,0.207890,218.803990,99.998684,366.898089,510.320566,308.151268,896.809679,240.396429,1175.721573
6464,Zimbabwe,2014,8.731586,0.208552,218.915348,100.062666,367.400269,514.009756,307.741827,901.387971,239.889862,1179.094335
6465,Zimbabwe,2015,8.646030,0.209203,218.663565,99.655702,367.898632,518.964077,308.310431,905.877422,240.390428,1183.005990
6466,Zimbabwe,2016,8.777977,0.209759,218.323865,99.808751,368.456731,523.691812,308.376755,911.817819,240.443753,1185.139894
6467,Zimbabwe,2017,8.773549,0.210091,218.567461,99.256370,369.090140,528.616947,308.281666,917.890919,240.719008,1189.683420

In [10]:
mhdata_combined_df['Entity'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andean Latin America', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australasia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Caribbean',
       'Central African Republic', 'Central Asia', 'Central Europe',
       'Central Europe, Eastern Europe, and Central Asia',
       'Central Latin America', 'Central Sub-Saharan Africa', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Asia', 'Eastern Europe',
       'Eastern Sub-Saharan Africa', 'Ecuador', 'Egypt', 'El Salvador',
       'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High SDI', 'High-income', 'High-income Asia Pacific',
       'High-middle SDI', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latin America and Caribbean',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Low SDI', 'Low-middle SDI', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)',
       'Middle SDI', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Africa and Middle East', 'North America', 'North Korea',
       'North Macedonia', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Korea', 'South Sudan', 'Southeast Asia',
       'Southeast Asia, East Asia, and Oceania', 'Southern Latin America',
       'Southern Sub-Saharan Africa', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tropical Latin America',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Wales', 'Western Europe',
       'Western Sub-Saharan Africa', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [11]:
# Count number of countries to confirm all countries have all the years (1990 - 2017). 6468 / 28
mhdata_country_count = mhdata_combined_df.groupby("Entity").count()
# mhdata_country_count

In [12]:
# Create a sub-set data from 2007 to 2017 (10 years of data)
tenyears_df = mhdata_combined_df.loc[mhdata_combined_df['Year'] > 2007]
# tenyears_df

# Test Machine Learning Predictions with subset of data

In [13]:
# Dependencies
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# # Test on a subset of data

# afghanistan = tenyears_df.loc[tenyears_df['Entity'] == 'Afghanistan', :]

# afghanistan_subset = afghanistan.loc[:, ['Entity', 'Year', 'A_<5']]
# afghanistan_subset

# year = afghanistan_subset.iloc[: ,1]
# # year
# anxiety_less_than_five = afghanistan_subset.iloc[: ,2]
# # anxiety_less_than_five

# plt.scatter(year, anxiety_less_than_five)
# plt.xticks(year, rotation=90)
# plt.xlabel('Year')
# plt.ylabel('Anxiety <5 Years Old')
# plt.show()

In [ ]:
# # perform the linear regression
# a_slope, a_int, a_r, a_p, a_std_err = stats.linregress(year, anxiety_less_than_five)

# # create equation to calculate predicted anxiety
# a_fit = a_slope * year + a_int

# # plot the line on top of the scatter plot above
# plt.scatter(year, anxiety_less_than_five)
# plt.plot(year, a_fit, "--")
# plt.xticks(year, rotation=90)
# plt.xlabel('Year')
# plt.ylabel('Anxiety <5 Years Old')
# plt.show()

In [ ]:
# Deploy ML - Test on a small subset

# # from sklearn.linear_model import LinearRegression
# model = LinearRegression()

# # -----------------------------------------------------------
# # Run subset test data
# afghanistan = tenyears_df.loc[tenyears_df['Entity'] == 'Afghanistan', :]

# afghanistan_subset = afghanistan.loc[:, ['Entity', 'Year', 'A_<5']]
# afghanistan_subset

# year = afghanistan_subset.iloc[: ,1]
# # year
# anxiety_less_than_five = afghanistan_subset.iloc[: ,2]
# # anxiety_less_than_five

# # Reshape data 
# X = year.values.reshape(-1,1)
# y = anxiety_less_than_five.values.reshape(-1,1)

# print("Shape: ", X.shape, y.shape)
# # X
# # y

# # plt.scatter(X, y)

# # -----------------------------------------------------------
# # Run model, fit X and y to model
# model.fit(X, y)
# print(model)
# # Output ---> LinearRegression()

# # Print the coefficient and the intercept for the model 
# print('Weight coefficients: ', model.coef_)
# print('y-axis intercept: ', model.intercept_)

# # -----------------------------------------------------------
# # Use our model to predict a value
# # predicted = model.predict(X)

# print("Results for future years: ", model.predict([[2018], [2019], [2020], [2021]]))

# # Save predicted values into a variable
# forecast_data = model.predict([[2018], [2019], [2020], [2021]])

# # CHECK
# forecast_data

# # OUTPUT is an array
# # # array([[11.12777626],
# # #        [11.12511246],
# # #        [11.12244866],
# # #        [11.11978486]])

# # Convert output into a dataframe
# forecast_df = pd.DataFrame(forecast_data, columns=['A_<5'])

# # Create the future years datafram
# future_years = pd.DataFrame({'Entity': ['Afghanistan','Afghanistan','Afghanistan','Afghanistan'],'Year': [2018, 2019, 2020, 2021]})

# # Concat the two dataframes together
# result = pd.concat([future_years, forecast_df], axis=1)
# result

# # Append concat dataframe to main dataframe
# afghanistan_subset = afghanistan_subset.append(result, ignore_index=True)

# # CHECK results
# plt.scatter(X, y)
# afghanistan_subset

# # -----------------------------------------------------------
# # Score the prediction with mse and r2
# # mse = mean_squared_error(y, predicted)
# # r2 = r2_score(y, predicted)

# # print(f"Mean Squared Error (MSE): {mse}")
# # print(f"R-squared (R2 ): {r2}")

# # print("Model score:", model.score(X, y))

# For loop to run ML on countries and all age ranges

In [56]:
# Testing country for loop
for country in tenyears_df['Entity'].unique():
    groupby_country = tenyears_df.groupby('Entity')
    country_df = groupby_country.get_group(country)
    # print(country_df.head())

In [57]:
# Foor loop to predict future years for countries and across age groups

# -----------------------------------------------------------
# Grab subset data

## All countries data in the last ten years
# tenyears_df

# -----------------------------------------------------------

# Create empty dataframe to store the Country loop results
tenyears_predictions_df = pd.DataFrame()

# Dictionary to save forecasted data from ML prediction forecast
forecast_data_all = {}

# Run for Country loop to go through all countries 

for country in tenyears_df['Entity'].unique():
    # country_names = tenyears_df['Entity'].unique()

    groupby_country = tenyears_df.groupby('Entity')
    country_df = groupby_country.get_group(country)
    # forecast_data_all[country] = {}

    # Run for ML Column loop to go through all countries columns for anxiety and depression across all age range

    for column in tenyears_df.iloc[:, 2:]: 

        X = country_df['Year']
        y = country_df[column]

        X1 = X.values.reshape(-1,1)
        y1 = y.values.reshape(-1,1)

        # plt.scatter(X1,y1)
        
        # Run model, fit X1 and y1 to model
        model = LinearRegression()
        model.fit(X1, y1)
        
        # CHECK results
        # print("Results for future years: ", 
        #     country, model.predict([[2018],[2019],[2020],[2021]]))
        
        # Append results into dictionary 'forecast_data_afg' above
        forecast_data_all[column] = list(np.array(model.predict([[2018],[2019],[2020],[2021]])).flatten())

        # forecast_data_all[country][column] = np.array(model.predict([[2018],[2019],[2020],[2021]])).flatten()

        # CHECK that results have been appended
        forecast_data_all

        # Convert into a dataframe
        forecast_df_for_one_country = pd.DataFrame.from_dict(forecast_data_all)

        # Create columns for country and year in empty dataframe
        forecast_df_for_one_country['Entity'] = country
        forecast_df_for_one_country['Year'] = [2018, 2019, 2020, 2021]

        # -----------------------------------------------------------

    # Append results to main dataframe
    tenyears_predictions_df = tenyears_predictions_df.append(forecast_df_for_one_country, ignore_index=True)

# Some solutions to array issue

In [ ]:
result_array = []
list_for_results = []
for i in result_array:
     ...
     make sure it reads one array each time
     list_for_results.append( list(i ))
new_df = pd.concat(list_for_results)

In [ ]:
numpyArray = np.array([[15, 22, 43], 
                       [33, 24, 56]])
numpyArray

# defining column headers for the 
# Pandas dataframe
columns = ['Column_' + str(i) 
          for i in range(1, len(numpyArray[0]) + 1)]

# generating the Pandas dataframe
# from the Numpy array and specifying
# details of index and column headers
panda_df = pd.DataFrame(numpyArray, 
                        columns = columns)      

# printing the dataframe
print(panda_df)

In [ ]:
result_array = []
list_for_results = []
for i in result_array:
     ...
     make sure it reads one array each time
     list_for_results.append( list(i ))
new_df = pd.concat(list_for_results)