In [1]:
# Dependencies
import csv
import os
import pandas as pd

In [2]:
# Study data files
anxiety_path = "assets/data/daly-anxiety-age.csv"
depression_path = "assets/data/daly-depression-age.csv"

In [3]:
# Read the data
anxiety_data = pd.read_csv(anxiety_path)
depression_data = pd.read_csv(depression_path)

In [4]:
anxiety_data.columns

Index(['Entity', 'Code', 'Year',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: Under 5 (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: All Ages (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 70+ years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 50-69 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 5-14 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 15-49 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: Age-standardized (Rate)'],
      dtype='object')

In [5]:
anxiety_df = anxiety_data[["Entity", "Code", "Year", "DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: Under 5 (Rate)", "DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 5-14 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 15-49 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 50-69 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 70+ years (Rate)"]]
anxiety_df

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: Under 5 (Rate),DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 5-14 years (Rate),DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 15-49 years (Rate),DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 50-69 years (Rate),DALYs (Disability-Adjusted Life Years) - Anxiety disorders - Sex: Both - Age: 70+ years (Rate)
0,Afghanistan,AFG,1990,10.851451,290.799110,583.050750,453.736877,336.764668
1,Afghanistan,AFG,1991,10.758383,287.732096,582.755568,453.919631,336.346214
2,Afghanistan,AFG,1992,10.387921,284.531098,585.121129,456.690054,336.558722
3,Afghanistan,AFG,1993,10.289752,281.185300,585.995450,459.518593,336.870769
4,Afghanistan,AFG,1994,10.464435,278.113533,587.736708,459.959994,337.476586
...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,8.612919,218.803990,366.898089,308.151268,240.396429
6464,Zimbabwe,ZWE,2014,8.731586,218.915348,367.400269,307.741827,239.889862
6465,Zimbabwe,ZWE,2015,8.646030,218.663565,367.898632,308.310431,240.390428
6466,Zimbabwe,ZWE,2016,8.777977,218.323865,368.456731,308.376755,240.443753
6467,Zimbabwe,ZWE,2017,8.773549,218.567461,369.090140,308.281666,240.719008

In [6]:
anxiety_df.columns = ["Entity", "Code", "Year", "-5", "5-14", "15-49", "50-69", "70+"]
anxiety_df

,Entity,Code,Year,-5,5-14,15-49,50-69,70+
0,Afghanistan,AFG,1990,10.851451,290.799110,583.050750,453.736877,336.764668
1,Afghanistan,AFG,1991,10.758383,287.732096,582.755568,453.919631,336.346214
2,Afghanistan,AFG,1992,10.387921,284.531098,585.121129,456.690054,336.558722
3,Afghanistan,AFG,1993,10.289752,281.185300,585.995450,459.518593,336.870769
4,Afghanistan,AFG,1994,10.464435,278.113533,587.736708,459.959994,337.476586
...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,8.612919,218.803990,366.898089,308.151268,240.396429
6464,Zimbabwe,ZWE,2014,8.731586,218.915348,367.400269,307.741827,239.889862
6465,Zimbabwe,ZWE,2015,8.646030,218.663565,367.898632,308.310431,240.390428
6466,Zimbabwe,ZWE,2016,8.777977,218.323865,368.456731,308.376755,240.443753
6467,Zimbabwe,ZWE,2017,8.773549,218.567461,369.090140,308.281666,240.719008

In [7]:
depression_data.columns

Index(['Entity', 'Code', 'Year',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: Under 5 (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 5-14 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 15-49 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 50-69 years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 70+ years (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: All Ages (Rate)',
       'DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: Age-standardized (Rate)'],
      dtype='object')

In [8]:
depression_df = depression_data[["Entity", "Code", "Year", "DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: Under 5 (Rate)", "DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 5-14 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 15-49 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 50-69 years (Rate)", "DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 70+ years (Rate)"]]
depression_df

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: Under 5 (Rate),DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 5-14 years (Rate),DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 15-49 years (Rate),DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 50-69 years (Rate),DALYs (Disability-Adjusted Life Years) - Depressive disorders - Sex: Both - Age: 70+ years (Rate)
0,Afghanistan,AFG,1990,0.271187,171.879841,875.280470,950.293471,766.893212
1,Afghanistan,AFG,1991,0.268624,166.950366,870.018856,950.792194,765.393867
2,Afghanistan,AFG,1992,0.260249,162.987003,859.514720,954.455355,762.681493
3,Afghanistan,AFG,1993,0.258343,159.584534,856.438776,957.746985,760.617836
4,Afghanistan,AFG,1994,0.263607,155.962684,861.397337,958.766015,759.161396
...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,0.207890,99.998684,510.320566,896.809679,1175.721573
6464,Zimbabwe,ZWE,2014,0.208552,100.062666,514.009756,901.387971,1179.094335
6465,Zimbabwe,ZWE,2015,0.209203,99.655702,518.964077,905.877422,1183.005990
6466,Zimbabwe,ZWE,2016,0.209759,99.808751,523.691812,911.817819,1185.139894
6467,Zimbabwe,ZWE,2017,0.210091,99.256370,528.616947,917.890919,1189.683420

In [9]:
depression_df.columns = ["Entity", "Code", "Year", "-5", "5-14", "15-49", "50-69", "70+"]
depression_df

,Entity,Code,Year,-5,5-14,15-49,50-69,70+
0,Afghanistan,AFG,1990,0.271187,171.879841,875.280470,950.293471,766.893212
1,Afghanistan,AFG,1991,0.268624,166.950366,870.018856,950.792194,765.393867
2,Afghanistan,AFG,1992,0.260249,162.987003,859.514720,954.455355,762.681493
3,Afghanistan,AFG,1993,0.258343,159.584534,856.438776,957.746985,760.617836
4,Afghanistan,AFG,1994,0.263607,155.962684,861.397337,958.766015,759.161396
...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,0.207890,99.998684,510.320566,896.809679,1175.721573
6464,Zimbabwe,ZWE,2014,0.208552,100.062666,514.009756,901.387971,1179.094335
6465,Zimbabwe,ZWE,2015,0.209203,99.655702,518.964077,905.877422,1183.005990
6466,Zimbabwe,ZWE,2016,0.209759,99.808751,523.691812,911.817819,1185.139894
6467,Zimbabwe,ZWE,2017,0.210091,99.256370,528.616947,917.890919,1189.683420

In [10]:
# Combine the data into a single dataset
mhdata_combined = anxiety_df.merge(depression_df, left_index=True, right_index=True)
mhdata_combined

,Entity_x,Code_x,Year_x,-5_x,5-14_x,15-49_x,50-69_x,70+_x,Entity_y,Code_y,Year_y,-5_y,5-14_y,15-49_y,50-69_y,70+_y
0,Afghanistan,AFG,1990,10.851451,290.799110,583.050750,453.736877,336.764668,Afghanistan,AFG,1990,0.271187,171.879841,875.280470,950.293471,766.893212
1,Afghanistan,AFG,1991,10.758383,287.732096,582.755568,453.919631,336.346214,Afghanistan,AFG,1991,0.268624,166.950366,870.018856,950.792194,765.393867
2,Afghanistan,AFG,1992,10.387921,284.531098,585.121129,456.690054,336.558722,Afghanistan,AFG,1992,0.260249,162.987003,859.514720,954.455355,762.681493
3,Afghanistan,AFG,1993,10.289752,281.185300,585.995450,459.518593,336.870769,Afghanistan,AFG,1993,0.258343,159.584534,856.438776,957.746985,760.617836
4,Afghanistan,AFG,1994,10.464435,278.113533,587.736708,459.959994,337.476586,Afghanistan,AFG,1994,0.263607,155.962684,861.397337,958.766015,759.161396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,8.612919,218.803990,366.898089,308.151268,240.396429,Zimbabwe,ZWE,2013,0.207890,99.998684,510.320566,896.809679,1175.721573
6464,Zimbabwe,ZWE,2014,8.731586,218.915348,367.400269,307.741827,239.889862,Zimbabwe,ZWE,2014,0.208552,100.062666,514.009756,901.387971,1179.094335
6465,Zimbabwe,ZWE,2015,8.646030,218.663565,367.898632,308.310431,240.390428,Zimbabwe,ZWE,2015,0.209203,99.655702,518.964077,905.877422,1183.005990
6466,Zimbabwe,ZWE,2016,8.777977,218.323865,368.456731,308.376755,240.443753,Zimbabwe,ZWE,2016,0.209759,99.808751,523.691812,911.817819,1185.139894
6467,Zimbabwe,ZWE,2017,8.773549,218.567461,369.090140,308.281666,240.719008,Zimbabwe,ZWE,2017,0.210091,99.256370,528.616947,917.890919,1189.683420

In [11]:
mhdata_combined_df = mhdata_combined[["Entity_x", "Code_x", "Year_x", "-5_x", "-5_y", "5-14_x", "5-14_y", "15-49_x", "15-49_y", "50-69_x", "50-69_y", "70+_x", "70+_y"]]
mhdata_combined_df.columns = ["Entity", "Code", "Year", "A_-5", "D_-5_y", "A_5-14", "D_5-14", "A_15-49", "D_15-49", "A_50-69", "D_50-69", "A_70+", "D_70+"]
mhdata_combined_df

,Entity,Code,Year,A_-5,D_-5_y,A_5-14,D_5-14,A_15-49,D_15-49,A_50-69,D_50-69,A_70+,D_70+
0,Afghanistan,AFG,1990,10.851451,0.271187,290.799110,171.879841,583.050750,875.280470,453.736877,950.293471,336.764668,766.893212
1,Afghanistan,AFG,1991,10.758383,0.268624,287.732096,166.950366,582.755568,870.018856,453.919631,950.792194,336.346214,765.393867
2,Afghanistan,AFG,1992,10.387921,0.260249,284.531098,162.987003,585.121129,859.514720,456.690054,954.455355,336.558722,762.681493
3,Afghanistan,AFG,1993,10.289752,0.258343,281.185300,159.584534,585.995450,856.438776,459.518593,957.746985,336.870769,760.617836
4,Afghanistan,AFG,1994,10.464435,0.263607,278.113533,155.962684,587.736708,861.397337,459.959994,958.766015,337.476586,759.161396
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,8.612919,0.207890,218.803990,99.998684,366.898089,510.320566,308.151268,896.809679,240.396429,1175.721573
6464,Zimbabwe,ZWE,2014,8.731586,0.208552,218.915348,100.062666,367.400269,514.009756,307.741827,901.387971,239.889862,1179.094335
6465,Zimbabwe,ZWE,2015,8.646030,0.209203,218.663565,99.655702,367.898632,518.964077,308.310431,905.877422,240.390428,1183.005990
6466,Zimbabwe,ZWE,2016,8.777977,0.209759,218.323865,99.808751,368.456731,523.691812,308.376755,911.817819,240.443753,1185.139894
6467,Zimbabwe,ZWE,2017,8.773549,0.210091,218.567461,99.256370,369.090140,528.616947,308.281666,917.890919,240.719008,1189.683420